Source: ros-hydro-uwsim-bullet
Section: misc
Priority: extra
Maintainer: Mario Prats <marioprats@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, freeglut3-dev, libxext-dev
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-uwsim-bullet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, freeglut3-dev, libxext-dev, ros-hydro-catkin
Description: The bullet library. See https://code.google.com/p/bullet
